$line-height-base       : 1.5;
$background-color-base  : #f7f7f7;
$border-color-base      : #dcdee2;
$btn-disable-color      : #c5c8ce;

$btn-disable-bg         : $background-color-base;
$btn-disable-border     : $border-color-base;
$btn-font-weight        : normal;

$btn-padding-base       : 5px 15px 6px;

$btn-font-size          : 12px;
$btn-border-radius      : 4px;
$cursor-disabled        : not-allowed;